{% extends 'dashboard/base.html'%}
{% load static %}
{% block title %}
    OrderDetails
{% endblock %}
{% block content %}
<div class="layout_padding">
    <a href="#" onclick="history.go(-1)" class="btn btn-primary">Back to Orders Page</a>
    <br/>
    <br/>
    <a href="{% url 'create_order_detail'%}" class="btn btn-primary">Add OrderDetails</a>
    <div class="container my-5">
        <div class="row">
            {% for orderdetail in orderdetails %}
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="custom-card">
                    <div class="card-body">
                        <p class="card-title">#{{orderdetail.order}}</p>
                        <p class="card-text">{{orderdetail.menu}}</p>
                        <p class="card-text">{{orderdetail.numbers}}</p>
                        <p class="card-text">{{orderdetail.subtotal_price}}</p>
                        <p class="card-text"><a href="#">New OrderDetail<a></p>
                        <a href="{% url 'edit_order_detail' orderdetail.id %}" class="btn btn-primary">Edit</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}